@media (min-width: 1650px) {
  .navbar-wrapper .container-fluid {
    width: 1650px;
    margin-left: auto;
    margin-right: auto;
  }
}

ul.nav.navbar-nav li {
  margin-left: 19px;
  margin-right: 19px;
  border-top: 5px solid transparent;
}
ul.nav.navbar-nav li a {
  font-size: 13px;
  font-weight: normal;
  text-transform: uppercase;
  color: #fff;
  opacity: 0.4;
  padding-top: 27px;
  padding-left: 0;
  padding-right: 0;
}
ul.nav.navbar-nav li a:hover {
  background-color: transparent;
}
ul.nav.navbar-nav li.active, ul.nav.navbar-nav li:hover {
  border-top: 5px solid #59656f;
}
ul.nav.navbar-nav li.active a, ul.nav.navbar-nav li:hover a {
  opacity: 1;
}

.right-nav-btn {
  margin-top: 22px;
}
.right-nav-btn .btn {
  background-color: transparent;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.7);
  border: 1px solid #76838c;
  font-weight: 300;
  font-size: 13px;
  padding: 8px 12px 5px;
}
.right-nav-btn .btn.ico-msq {
  background-image: url(../img/msq.png);
  background-repeat: no-repeat;
  background-position: 10px 6px;
  padding-left: 32px;
}
.right-nav-btn .btn.ico-lock {
  background-image: url(../img/lock.png);
  background-repeat: no-repeat;
  background-position: 10px 6px;
  padding-left: 32px;
}
.right-nav-btn .btn:hover {
  color: #fff;
  border: 1px solid #1f2930;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}
.right-nav-btn .btn-group {
  margin-right: 22px;
}
.right-nav-btn .btn-group:hover {
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}
.right-nav-btn .btn-group:hover .btn {
  color: white;
  border: 1px solid #1f2930;
  box-shadow: none;
}
.right-nav-btn .btn-group .dropdown-menu {
  background-color: transparent;
}
.right-nav-btn .btn-group .dropdown-menu a {
  color: rgba(255, 255, 255, 0.7);
}
.right-nav-btn .btn-group .dropdown-menu a:hover {
  color: #fff;
  background-color: transparent;
}

.jumbotron {
  background-image: url(../img/Photos/BG_Dark_5.jpg);
  background-size: cover;
}
.jumbotron h1 {
  font-family: "Bebas Neue", "Helvetica Neue", Helvetica, sans-serif;
  font-weight: normal;
  font-size: 56px;
  color: #fff;
}
.jumbotron h1:after {
  content: ' ';
  border-top: 1px solid #a7b2b9;
  display: block;
  margin: 19px auto 30px;
  width: 64px;
}
.jumbotron p {
  color: rgba(255, 255, 255, 0.7);
  font-size: 28px;
  font-family: "Circe", "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 300;
}
.jumbotron p:after {
  content: ' ';
  border-top: 1px solid #a7b2b9;
  display: block;
  margin: 14px auto 25px;
  width: 32px;
}
.jumbotron small {
  font-size: 16px;
  font-family: "Circe", "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.4);
}

.footer {
  background-image: url(../img/Photos/BG_Dark_5.jpg);
  background-size: cover;
  padding-top: 46px;
  padding-bottom: 40px;
}
@media (min-width: 1650px) {
  .footer .row {
    width: 1650px;
    margin-left: auto;
    margin-right: auto;
  }
}
.footer .condition {
  margin-left: 30px;
  margin-right: 20px;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.4);
}
.footer .brand {
  font-weight: 300;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.4);
}
.footer .brand:before {
  content: ' ';
  border-top: 1px solid #A7B2B9;
  display: block;
  margin: 5px auto 14px;
  width: 32px;
}

.btn-soc {
  display: inline-block;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: #868f96;
  margin-right: 16px;
}
.btn-soc:hover {
  background-color: #d6d9db;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}
.btn-soc .ico-soc {
  background-image: url(../img/soc_btn.png);
  background-repeat: no-repeat;
  background-position: left top;
  width: 10px;
  height: 20px;
  margin-top: 8px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.btn-soc .ico-soc.ico-tw {
  width: 20px;
  height: 16px;
  margin-top: 11px;
  background-position: -22px -2px;
}
.btn-soc .ico-soc.ico-vk {
  width: 14px;
  height: 16px;
  margin-top: 10px;
  background-position: -55px -1px;
}

.item {
  position: relative;
}

a.descr {
  background-color: rgba(0, 0, 0, 0.4);
  text-decoration: none;
  width: 100%;
  height: 100%;
  display: block;
  left: 0;
  top: 0;
  position: absolute;
}
a.descr h2 {
  margin-top: 110px;
  font-size: 32px;
  color: #fff;
  font-weight: bold;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}
a.descr h2:after {
  content: ' ';
  border-top: 4px solid #fff;
  display: block;
  margin: 19px auto 30px;
  width: 50px;
}
a.descr p {
  text-decoration: none;
  padding-left: 110px;
}
a.descr p span {
  display: block;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 5px;
}
a.descr.inactive h2 {
  color: rgba(255, 255, 255, 0.5);
}
a.descr.inactive h2:after {
  content: "";
  display: none;
}
a.descr.inactive p {
  color: rgba(255, 255, 255, 0.6);
  font-size: 18px;
  text-align: center;
  padding-left: 50px;
  padding-right: 50px;
  margin-top: 5px;
  margin-bottom: 10px;
}
a.descr.inactive p span {
  margin: 15px 0;
  font-size: 26px;
}
a.descr.inactive p:last-child {
  font-weight: 300;
}

.ico-loc {
  width: 22px;
  height: 29px;
  display: inline-block;
  background-image: url(../img/location.png);
  background-repeat: no-repeat;
  background-position: top left;
  position: relative;
  top: 8px;
  margin-left: 2px;
  margin-right: 5px;
}

.ico-ppl {
  width: 29px;
  height: 30px;
  display: inline-block;
  background-image: url(../img/ppl.png);
  background-repeat: no-repeat;
  background-position: top left;
  position: relative;
  top: 8px;
  margin-left: 0px;
  margin-right: 4px;
}
.ico-ppl:last-child {
  margin-right: 10px;
}
.ico-ppl.noactive {
  opacity: 0.4;
}
